<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
   <link rel="stylesheet" type="text/css" href="style.css">
   <link href="/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>

    <div class="loginbox">
        <img class="avatar" src="/css/logo.png"/>  
       

        <h4><%= message %></h4><br>
</div>  
    </body>
</html>
